
body{

	font-family: "Arial";
	background-color: #c5edd0;
	margin: 0;
}

#top-header{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	padding: 15px;
	background-color: #91c57375;
}

#warning-sign{
	color: #db2e2e;
}

#gi1{
	margin: 0;
	grid-row: 1;
}

#gi2{
	margin: 0;
	grid-row: 1;
	
	text-align: center;
}

#gi3{
	grid-row: 1;
	text-align: end;
}

main{
	/*max-width: 800px;*/
	position: absolute;
	margin: 0 auto;
	left: 30vw;
}

nav{
	display: flex;
	width: 200px;
	height: 100%;
	position: absolute;
	left: 0;
	overflow: auto;
	flex-direction: column;
	background-color: #91c57375;
}

.button{
	padding: 5px;
	margin: 5px;
	text-decoration: none;
	color: black;
	border-radius: 5px;
	display: inline-block;
}

a.nav{
	height: 40px;
	text-align: center;
	background-color: #8ca191;
	text-decoration: none;
	color: black;
	margin-bottom: 15px;
	padding-top: 20px;
	font-size: 25px;
}

.button.add{
  background-color: #3ead5c;
}

a.button.edit{
  background-color: #42a80f;
}

a.button.delete{
  background-color: #db2e2e;
}

a.button#logout{
	background-color: #db2e2e;
}

a.button#login{
	background-color: #42a80f;
	text-align: center;
	max-width: 125px;
}

a.button#register{
	background-color: #8ca191;
	text-align: center;
	max-width: 100px;
}

.button.next{
	font-size: medium;
	background-color: #3ead5c;
}

ul{
	margin-top: 20px;
}

li{
	margin: 15px 0;
}

input#form-save{

}

input#form-delete{

}

#calendar-container{
/*	height: 500px; */
    display: grid;
    width: 100%;
    margin-bottom: 80px;
    border: solid #3ead5c;
    border-radius: 25px;
    background-color: #91c57375;
          
}

#date-row{
    display:flex;
}

.cal-header-item{
    padding: 10px;
    margin: 0;
}
