{% extends "varkal/base.html" %}

{% block "content" %}
	{% for message in messages %}
		<p>{{ message }}</p>
	{% endfor %}
	{% if user.is_staff %}
		<a href="reservation/add" class="button add">Uusi varaus</a>
		<ul>
			{% for reservation in object_list %}
				<li>{{ reservation.timeslot }} <a href="/reservation/{{ reservation.pk }}/edit" class="button edit">Muokkaa</a><a href="reservation/{{ reservation.pk }}/delete" class="button delete">Poista</a></li>
				<div id="infotext">Asiakkaat: </div>
				{% if reservation.cancelled %}
					<div id="infotext">Peruutettu: {{ reservation.cancelled }}</div>
				{% endif %}
				{% for reservation in object_list %}
				<li>{{ reservation.customer }} <a href="reservation/{{ reservation.pk }}/cancel" class="button" id="edit">Peru varaus</a></li>
				{% endfor %}
			{% endfor %}

		{% endif %}
		</ul>
		<pre>{% debug %}</pre>
{% endblock "content" %}

